/venv
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
**/*.pyc

uploads/

static/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg



*kubectl
# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
server.log.txt
output.log.txt

